@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Questrial', sans-serif;
    background-image: url('images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100;
    overflow-x: hidden;
}

.left-menu {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 9vh;
}

.img-logo {
    width: 1.9rem;
    padding: 1rem;
}

.img-logo:hover {
    transform: scale(1.1);
}

.first-container,
.presentation,
.container-main,
.name,
.container-nav {
    display: flex;
}

.container-nav {
    margin-left: 1.8rem;
    align-items: center;
}

.img-main {
    padding: .6rem;
    width: 95vh;
    margin-top: 2rem;
}

.button-portfolio,
.button-skills {
    border: none;
    width: 23rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    margin-left: 3rem;
}

.button-portfolio {
    background-color: #C698E8;
    margin-top: 2rem;
}

.button-skills {
    background-color: #FFFFFF;
    margin-top: 1.5rem;
}

.button-portfolio>a {
    color: #FFFFFF;
}

.button-skills>a {
    color: #C698E8;
}

.button-portfolio>a,
.button-skills>a {
    text-decoration: none;
}

.button-portfolio:hover {
    background-color: #b77ce0;
    transform: scale(1.1);
}

.button-skills:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.presentation {
    color: #25295B;
}

.presentation-dev {
    margin-top: .8rem;
    margin-left: 15rem;
    font-size: 1.3rem;
    color: #25295B;
}

.name {
    color: #FFFFFF;
    font-weight: 900;
}

hr {
    border: solid 2px #FFFFFF;
}

.presentation,
.name {
    flex-direction: column;
}

.presentation {
    font-size: 1.7rem;
    margin: -2rem;
    height: 5rem;
}

#name {
    font-size: 3.5rem;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.10em solid #FFFFFF;
}

.container-portfolio {
    margin: 4rem;
    display: flex;
}

@keyframes name {

    from {
        width: 0;
    }

    to {
        width: fit-content;
    }
}